/* styles.css */
:root {
    --primary-color: #2e8b57; /* Sea green */
    --secondary-color: #3cb371; /* Medium sea green */
    --background-color: #fff; /* White background */
    --navbar-color: #333; /* Dark gray navbar */
    --text-color: #333;
    --hover-color: #256d47; /* Darker green */
    --shadow-color: rgba(0, 0, 0, 0.1);
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    height: 100dvh;
    width: 100%;
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--text-color);
}

.body {
    height: 100%;
    display: flex;
    flex-direction: column;
    animation: fadeIn 1s ease-in-out;
}

.navbar {
    background-color: var(--navbar-color);
    color: #fff;
    height: 60px;
    display: flex;
    width: 100%;
    border-radius: 0 0 20px 20px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px var(--shadow-color);
}

.navbar ul {
    display: flex;
    flex-direction: row;
    width: 95%;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
}

.navbar li {
    list-style: none;
    display: flex;
    align-items: center;
    position: relative;
}

.navbar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #fff;
    position: absolute;
    top: 1px;
}

.navbar button {
    background-color: var(--secondary-color);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.navbar button:hover {
    background-color: var(--hover-color);
}
h2{
    text-align: center;
    margin-bottom: 20px;
}
span {
    display: block;
    margin-bottom: 3px;
    font-size: 1.2rem;
    color: var(--primary-color);
    font-weight: bold;
    cursor: pointer;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    margin: auto;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: center;
}
td button{
    padding: 5px 5px;
    background-color: #4CAF50;
    width: 80%;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 3px 0;
}
table button:hover {
    background-color: #45a049;
}
th {
    background-color: #f9f9f9;
    color: rgb(0, 0, 0);
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #e2e2e2;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@media (max-width: 768px) {
    .cont ul {
        flex-direction: column;
        align-items: center;
    }

    .cont li {
        width: 90%;
        margin-bottom: 20px;
    }
}
